[user]
	name = Akira Hayakawa
	email = ruby.wktk@gmail.com
[github]
	user = akiradeveloper
[core]
	editor = vim
[color]
	ui = auto
[alias]
	al = alias
	b = branch
	co = checkout
	ci = commit -v -s
	di = diff
	dc = diff --cached
	st = status -uno -s
	ru = remote update
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	pru = remote prune
	branches = !legit branches
	graft = !legit graft
	harvest = !legit harvest
	publish = !legit publish
	unpublish = !legit unpublish
	sprout = !legit sprout
	sync = !legit sync
	switch = !legit switch
[push]
	default = simple
