[submodule "legit"]
	path = legit
	url = https://github.com/kennethreitz/legit
[submodule "gitflow"]
	path = gitflow
	url = https://github.com/nvie/gitflow
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/visionmedia/git-extras
