[user]
	name = Akira Hayakawa
	email = ruby.wktk@gmail.com
[github]
	user = akiradeveloper
[core]
	editor = vim
[color]
	ui = auto

<% if ENV['BEHIND_PROXY'] == '1' %>
[http]
<% if ENV['REQUIRE_AUTH'] == '1' %>
	proxy = http://<%=ENV['PROXY_ID']%>:<%=ENV['PROXY_PASSWD']%>@<%=ENV['PROXY_IP']%>:<%=ENV['PROXY_PORT']%>/
<% else %>
	proxy = http://<%=ENV['PROXY_IP']%>:<%=ENV['PROXY_PORT']%>/
<% end %>
<% end %>
